<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">

	<!-- Logging Properties -->
	<Properties>
		<Property name="LOG_PATTERN">%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</Property>
		<Property name="APP_LOG_ROOT">c:/temp</Property>
	</Properties>

	<Appenders>
		<!-- Console Appender -->
		<Console name="Console" target="SYSTEM_OUT" follow="true">
			<PatternLayout pattern="${LOG_PATTERN}" />
		</Console>

		<!-- File Appenders on need basis -->
		<RollingFile name="frameworkLog"
			fileName="${APP_LOG_ROOT}/app-framework.log"
			filePattern="${APP_LOG_ROOT}/app-framework-%d{yyyy-MM-dd}-%i.log">
			<LevelRangeFilter minLevel="ERROR" maxLevel="ERROR"
				onMatch="ACCEPT" onMismatch="DENY" />
			<PatternLayout pattern="${LOG_PATTERN}" />
			<Policies>
				<SizeBasedTriggeringPolicy size="19500KB" />
			</Policies>
			<DefaultRolloverStrategy max="10" />
		</RollingFile>

		<RollingFile name="debugLog"
			fileName="${APP_LOG_ROOT}/app-debug.log"
			filePattern="${APP_LOG_ROOT}/app-debug-%d{yyyy-MM-dd}-%i.log">
			<LevelRangeFilter minLevel="DEBUG" maxLevel="DEBUG"
				onMatch="ACCEPT" onMismatch="DENY" />
			<PatternLayout pattern="${LOG_PATTERN}" />
			<Policies>
				<SizeBasedTriggeringPolicy size="19500KB" />
			</Policies>
			<DefaultRolloverStrategy max="10" />
		</RollingFile>

		<Console name="ConsoleJSONAppender" target="SYSTEM_OUT">
			<JSONLayout compact="true" locationInfo="true"
				properties="true" propertiesAsList="true" eventEol="true">
				<KeyValuePair key="application"
					value="${sys:com.example.appname}" />
			</JSONLayout>
		</Console>
		
	</Appenders>

	<Loggers>

		<Logger name="CONSOLE_JSON_APPENDER" level="debug"
			additivity="false">
			<AppenderRef ref="ConsoleJSONAppender" />
		</Logger>

		<Root level="info">
			<AppenderRef ref="Console" />
			<AppenderRef ref="debugLog" />
		</Root>
	</Loggers>

</Configuration>